# Virtual environment
env/
.venv/
venv/

# Database
*.sqlite3

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.local

# Static and media files (if not tracked)
static/
media/

# macOS files
.DS_Store

# Windows files
Thumbs.db